<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ThreePM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ThreePM.Properties.Settings>
            <setting name="starH45_net_mp3_Amazon_AmazonSearchService" serializeAs="String">
                <value>http://soap.amazon.com/onca/soap3</value>
            </setting>
        </ThreePM.Properties.Settings>
    </applicationSettings>
</configuration>